<div class="page-header">
  <h2>Brand Page: <%= @brand.name %> <small><%= link_to 'edit', edit_brand_path(@brand) %></small></h2>
</div>

<p>
  Twitter Handle: <b>@<%= link_to @brand.twitter_handle, "http://twitter.com/#!/#{@brand.twitter_handle}", :target => '_blank' %></b>
</p>

<div id="keyword_section">
  <h3>Keywords</h3>
  <ul class="unstyled">
  <% @brand.keywords.each do |k| %>
    <li><%= k.value %></li>
  <% end %>
  </ul>
</div>

<%= link_to 'Sentiment Graph', sentiments_brand_path(@brand) %>

<h3>Recent Tweets</h3>
<ul id="recent_tweets" class="unstyled">
</ul>

<%= content_for :javascript_delay do %>
  <%= "<script src=\"http://twitter.com/statuses/user_timeline/#{@brand.twitter_handle}.json?callback=BRAND.show.load_tweets\"></script>".html_safe %>
<% end %>
